// Custom styles

.multi-line {
  white-space: pre-line !important;

  .v-list-item-title {
    white-space: pre-line !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-user-select {
  user-select: none !important;
}

// Vuetify overrides

.v-timeline-item__body {
  min-width: 100%;
}

.v-dialog--fullscreen .v-overlay__content .v-card {
  border-radius: 0;
}

// Print helpers

.p-avoid-break-inside {
  break-inside: avoid;
}
